# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android specific
android/.gradle/
android/app/build/
android/local.properties

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/Flutter.xcframework/

# Web specific
web/.dart_tool/

# macOS specific
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows specific
windows/Flutter/ephemeral/

# Linux specific
linux/flutter/generated_plugin_registrant.cc
linux/flutter/ephemeral/

# Miscellaneous
*.DS_Store
*.log
*.lock
*.pyc
*.pyo
*.swp

# IntelliJ IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
